{% extends 'shared/base.html' %}

{% block body %}
    <div class="main">
        <div class="tab-content" id="nav-tabContent">
            
            <!-- Start of Babble -->
            <div class="babble tab-pane fade" id="list-chat" role="tabpanel"
                 aria-labelledby="list-chat-list">
                <!-- Start of Chat -->
                <div class="chat" id="chat1">
                    <div class="top">
                        <div class="container">
                            <div class="col-md-12">
                                <div class="inside">
                                    <a href="#"><img class="avatar-md" src="dist/img/avatars/avatar-female-5.jpg"
                                                     data-toggle="tooltip" data-placement="top" title="Keith"
                                                     alt="avatar"></a>
                                    <div class="status">
                                        <i class="material-icons online">fiber_manual_record</i>
                                    </div>
                                    <div class="data">
                                        <h5><a href="#">Keith Morris</a></h5>
                                        <span>Active now</span>
                                    </div>
                                    <button class="btn d-md-block d-none"><i class="material-icons md-30">info</i>
                                    </button>
                                    <div class="dropdown">
                                        <button class="btn" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false"><i class="material-icons md-30">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item"><i class="material-icons">clear</i>Clear
                                                History
                                            </button>
                                            <button class="dropdown-item"><i class="material-icons">delete</i>Delete
                                                Contact
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content" id="content">
                        <div class="container">
                            <div class="col-md-12" id="message-container">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-12">
                            <div class="bottom">
                                <form class="position-relative w-100">
                                        <textarea class="form-control" placeholder="Start typing for reply..."
                                                  rows="1"></textarea>
                                    <button class="btn emoticons"><i class="material-icons">insert_emoticon</i>
                                    </button>
                                    <button type="submit" class="btn send"><i class="material-icons">send</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Chat -->
            </div>
            <!-- End of Babble -->
            
            <!-- Start of Babble -->
            <div class="babble tab-pane fade active show" id="list-empty" role="tabpanel" aria-labelledby="list-empty-list">
                <div class="chat" id="chat2">
                    <div class="content empty">
                        <div class="container">
                            <div class="col-md-12">
                                <div class="no-messages">
                                    <i class="material-icons md-48">forum</i>
                                    <p>Seems people are shy to start the chat. Break the ice send the first
                                        message.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Babble -->

        </div>
    </div>
{% endblock %}