{% extends 'user/authorize-page.html' %}
{% load crispy_forms_tags %}

{% block form %}
    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Please enter your new password</h5>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="pt-1 mb-4">
            <button class="btn btn-dark btn-lg btn-block" type="submit">Confirm</button>
        </div>
    </form>

{% endblock %}
{% block Script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector("#id_new_password1").setAttribute("class", "form-control form-control-lg my-1");
            document.querySelector("#id_new_password2").setAttribute("class", "form-control form-control-lg my-1");
        });
    </script>
{% endblock %}