{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="row">
        <div class="col">
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("input").forEach(add_class);
        })

        function add_class(element) {
            element.setAttribute('class', 'form-control mb-3')
        }
    </script>
{% endblock %}