{% extends 'user/authorize-page.html' %}
{% load crispy_forms_tags %}

{% block form %}
    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Enter your account email</h5>

    {% if form.errors %}
        <div class="alert alert-warning">
            <p>Your email is not correct. Please try again.</p>
        </div>
    {% endif %}

    <form action="{% url 'user:password_reset' %}" method="post">
        {% csrf_token %}
        {{ password_reset_form|crispy }}

        <div class="pt-1 mb-4">
            <button class="btn btn-dark btn-lg btn-block" type="submit">Send</button>
        </div>
    </form>
{% endblock %}

{% block Script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector("#id_email").setAttribute("class", "form-control form-control-lg my-1");
        });
    </script>
{% endblock %}