{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Social chat</title>
    <meta name="description" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <!-- Swipe core CSS -->
    <link href="{% static 'css/swipe.min.css' %}" type="text/css" rel="stylesheet">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>
<main>
    <div class="layout">
        {% include 'shared/navigation.html' %}
        {% include 'shared/sidebar.html' %}

        {% block body %}
        {% endblock %}
    </div>
</main>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/WsConnector.js' %}"></script>

<script src="{% static 'js/UiManager.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    function scrollToBottom(el) {
        el.scrollTop = el.scrollHeight;
    }

    scrollToBottom(document.getElementById('content'));
</script>
<script>
    // submit user update form
    $('#user_update_form').on('submit', function (e) {
        e.preventDefault();
        const csrf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        const data = new FormData();

        // validation data
        const formData = new FormData(this);
        if (formData.get('password') !== formData.get('password2')) {
            alert('Passwords are not the same!');
            return;
        }
        for (const fd of formData.entries()) {
            if (fd[0] === 'avatar' && fd[1].name !== '')
                data.append(fd[0], fd[1])

            if (['first_name', 'last_name', 'email', 'password', 'password2'].indexOf(fd[0]) > -1 && fd[1] !== '')
                data.append(fd[0], fd[1])
        }

        $.ajax({
            headers: {
                'X-CSRFToken': csrf_token,
            },
            url: '{% url 'user:user_update' %}',
            method: "PATCH",
            contentType: false,
            processData: false,
            data: data,
            timeout: 10000, // 10 sec
            success: (e) => {
                alert('your account update successfully!')
            },
            error: ({responseJSON}) => {
                alert(Object.values(responseJSON).join('\r\n'));
            }
        });
    });
</script>
<script>
    // delete account
    $('#collapseSeven').on('click', (e) => {
        const csrf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

        if (confirm('Would you like to delete your account?\r\nWith this, your information will no longer be accessible.') === true) {
            $.ajax({
                headers: {
                    'X-CSRFToken': csrf_token,
                },
                url: '{% url 'user:user_update' %}',
                method: 'delete',
                success: () => {
                    window.location.reload();
                },
                error: (e) => {
                    console.log(e)
                }
            });
        } else
            console.log('No')
    })
</script>
</body>
</html>