{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Swipe – The Simplest Chat Platform</title>
    <meta name="description" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <!-- Swipe core CSS -->
    <link href="{% static 'css/swipe.min.css' %}" type="text/css" rel="stylesheet">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>
<main>
    <div class="layout">
        {% include 'shared/navigation.html' %}
        {% include 'shared/sidebar.html' %}

        {% block body %}
        {% endblock %}
    </div>
</main>

<script src="{% static 'js/jquery-slim.min.js' %}"></script>

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/swipe.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    function scrollToBottom(el) {
        el.scrollTop = el.scrollHeight;
    }

    scrollToBottom(document.getElementById('content'));
</script>

</body>
</html>