{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Messenger</title>
    {% block head %}
    {% endblock %}
</head>
<body>

<aside class="sidebar">
    <div class="side-inner py-4">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="logo-wrap my-3">
            <div class="logo">
                {% if user.avatar %}
                    <div class="custom-thumbnail">
                        <img src="{{ user.avatar.url }}">
                    </div>
                {% else %}
                    <span>
                        {{ profile.username|make_list|first }}
                    </span>
                {% endif %}
            </div>
            <span class="logo-text">{{ profile.username }}</span>
        </div>

        {% if profile.bio %}
            <div class="bio-wrap px-4">
                <p style="text-align: center;">
                    {{ profile.bio }}
                </p>
            </div>
        {% endif %}

        <div class="nav-menu">
            <ul>
                <li class="active">
                    <a href="{% url 'chat:dashboard' %}" class="d-flex align-items-center"><i
                            class="bi bi-house-fill mr-3"></i><span class="menu-text">Home</span></a></li>

                <li>
                    <a href="#" class="d-flex align-items-center">
                        <i class="bi bi-people-fill mr-3"></i>
                        <span class="menu-text">New Group</span>
                    </a>
                </li>

                <li><a href="{% url 'user:user_update' %}" class="d-flex align-items-center"><i
                        class="bi bi-gear-fill mr-3"></i><span
                        class="menu-text">Settings</span></a></li>

                <li><a href="{% url 'logout' %}" class="d-flex align-items-center"><i
                        class="bi bi-box-arrow-left mr-3"></i><span
                        class="menu-text">Logout</span></a></li>
            </ul>
        </div>
    </div>
</aside>

<main>
    <div class="site-section h-100">
        <div class="container-fluid h-100">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</main>

<!-- Load Script -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>

{% block script %}
{% endblock %}

</body>
</html>