<!-- Start of Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">
                <!-- Start of Discussions -->
                <div id="discussions" class="tab-pane fade active show">
                    <div class="search">
                        <form class="form-inline position-relative">
                            <input type="search" class="form-control" id="conversations"
                                   placeholder="Search for conversations...">
                            <button type="button" class="btn btn-link loop"><i class="material-icons">search</i>
                            </button>
                        </form>
                        <button class="btn create" data-toggle="modal" data-target="#startnewchat"><i
                                class="material-icons">create</i></button>
                    </div>
                    <div class="list-group sort">
                        <button class="btn filterDiscussionsBtn active show" data-toggle="list"
                                data-filter="all">All
                        </button>
                        <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="read">Read
                        </button>
                        <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="unread">
                            Unread
                        </button>
                    </div>
                    <div class="discussions">
                        <h1>Discussions</h1>
                        <div class="list-group" id="chats" role="tablist">
                        </div>
                    </div>
                </div>
                <!-- End of Discussions -->

                <!-- Start of Settings -->
                <div class="tab-pane fade" id="settings">
                    <div class="settings">
                        <div class="profile">
                            <img class="avatar-xl" src="{{ user.get_avatar }}" alt="avatar">
                            <h1><a href="#">{{ user.username }}</a></h1>
                            <span>
                            {{ user.get_full_name }}
                            <br/>
                            {{ user.email }}
                            <br/>
                            Since {{ user.date_joined|date }}
                            </span>

                            <div class="stats">
                                <div class="item">
                                    <h2>{{ user.get_statics.friends_count }}</h2>
                                    <h3>Friends</h3>
                                </div>
                                <div class="item">
                                    <h2>{{ user.get_statics.conversation_count }}</h2>
                                    <h3>Chats</h3>
                                </div>
                                <div class="item">
                                    <h2>{{ user.get_statics.message_count }}</h2>
                                    <h3>Message</h3>
                                </div>
                            </div>
                        </div>
                        <div class="categories" id="accordionSettings">

                            <h1>Settings</h1>

                            <!-- Start of My Account -->
                            <div class="category">
                                <a href="#" class="title collapsed" id="headingOne" data-toggle="collapse"
                                   data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="material-icons md-30 online">person_outline</i>
                                    <div class="data">
                                        <h5>My Account</h5>
                                        <p>Update your profile details</p>
                                    </div>
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </a>
                                <div class="collapse" id="collapseOne" aria-labelledby="headingOne"
                                     data-parent="#accordionSettings">

                                    <div class="content">

                                        <form id="user_update_form" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <!--Start upload avatar-->
                                            <div class="upload">
                                                <div class="data">
                                                    <img class="avatar-xl" src="{{ user.get_avatar }}"
                                                         alt="image">
                                                    <label>
                                                        <input name='avatar' type="file">
                                                        <span class="btn button">Upload avatar</span>
                                                    </label>
                                                </div>
                                                <p>For best results, use an image at least 256px by 256px in either
                                                    .jpg or .png format!</p>
                                            </div>
                                            <!--End upload avatar-->

                                            <div class="parent">
                                                <div class="field">
                                                    <label for="first_name">First name <span>*</span></label>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="first_name"
                                                           id="first_name"
                                                           placeholder="First name"
                                                           value="{{ user.first_name }}">
                                                </div>
                                                <div class="field">
                                                    <label for="last_name">Last name <span>*</span></label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="last_name"
                                                           name="last_name"
                                                           placeholder="Last name" value="{{ user.last_name }}">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label for="email">Email <span>*</span></label>
                                                <input type="email"
                                                       class="form-control"
                                                       id="email"
                                                       name="email"
                                                       placeholder="Enter your email address"
                                                       value="{{ user.email }}">
                                            </div>
                                            <div class="field">
                                                <label for="password">Password</label>
                                                <input type="password"
                                                       class="form-control"
                                                       id="password"
                                                       name="password"
                                                       placeholder="Enter a new password">
                                            </div>
                                            <div class="field">
                                                <label for="password2">Password Repeat</label>
                                                <input type="password"
                                                       class="form-control"
                                                       id="password2"
                                                       name="password2"
                                                       placeholder="Password repeat">
                                            </div>
                                            <button type="submit" class="btn button w-100">Apply</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End of My Account -->

                            <!-- Start of Privacy & Safety -->
                            <div class="category">
                                <a href="#" class="title collapsed" id="headingSeven" data-toggle="collapse"
                                   data-target="#collapseSeven" aria-expanded="true"
                                   aria-controls="collapseSeven">
                                    <i class="material-icons md-30 online">lock_outline</i>
                                    <div class="data">
                                        <h5>Privacy & Safety</h5>
                                        <p>Control your privacy settings</p>
                                    </div>
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </a>
                                <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven"
                                     data-parent="#accordionSettings">
                                    <div class="content no-layer">
                                        <div class="set">
                                            <div class="details upload" style="cursor: pointer;">
                                                <h5 class="text-danger">Delete Account</h5>
                                                <p>Delete your account and conversations permanently.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Privacy & Safety -->

                            <!-- Start of placeholder -->
                            <div class="category"></div>
                            <!-- End of placeholder -->
                        </div>
                    </div>
                </div>
                <!-- End of Settings -->
            </div>
        </div>
    </div>
</div>
<!-- End of Sidebar -->

<!-- Start of Create Chat -->
<div class="modal fade" id="startnewchat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="requests">
            <div class="title">
                <h1>Start new conversation</h1>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i>
                </button>
            </div>
            <div class="content">
                <div class="nav nav-tabs mb-2">
                    <div class="menu d-flex flex-row justify-content-around mb-3 w-100">
                        <a href="#search-group" data-toggle="tab" class="d-flex flex-column">
                            <i class="material-icons" style="font-size: 30px; margin: 0 auto">search</i>
                            <span>join group</span>
                        </a>
                        <a href="#new-group" data-toggle="tab" class="d-flex flex-column">
                            <i class="material-icons" style="font-size: 30px; margin: 0 auto">group_add</i>
                            <span>new group</span>
                        </a>
                        <a href="#new-friend" data-toggle="tab" class="d-flex flex-column">
                            <i class="material-icons" style="font-size: 30px; margin: 0 auto">person_add</i>
                            <span>new friend</span>
                        </a>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="search-group" class="tab-pane fade in active">
                        <select id="search-group-input" style="width: 100%;"></select>
                    </div>
                    <div id="new-group" class="tab-pane fade">
                        how are
                    </div>
                    <div id="new-friend" class="tab-pane fade">
                        you
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End of Create Chat -->