<!-- Start of Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">
                <!-- Start of Discussions -->
                <div id="discussions" class="tab-pane fade active show">
                    <div class="search">
                        <form class="form-inline position-relative">
                            <input type="search" class="form-control" id="conversations"
                                   placeholder="Search for conversations...">
                            <button type="button" class="btn btn-link loop"><i class="material-icons">search</i>
                            </button>
                        </form>
                    </div>
                    <div class="list-group sort">
                        <button class="btn filterDiscussionsBtn active show" data-toggle="list"
                                data-filter="all">All
                        </button>
                        <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="read">Read
                        </button>
                        <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="unread">
                            Unread
                        </button>
                    </div>
                    <div class="discussions">
                        <h1>Discussions</h1>
                        <div class="list-group" id="chats" role="tablist">
                            <a href="#list-chat" class="filterDiscussions all unread single active"
                               id="list-chat-list" data-toggle="list" role="tab">
                                <img class="avatar-md" src="dist/img/avatars/avatar-female-1.jpg"
                                     data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                </div>
                                <div class="new bg-yellow">
                                    <span>+7</span>
                                </div>
                                <div class="data">
                                    <h5>Janette Dalton</h5>
                                    <span>Mon</span>
                                    <p>A new feature has been updated to your account. Check it out...</p>
                                </div>
                            </a>
                            <a href="#list-empty" class="filterDiscussions all unread single"
                               id="list-empty-list" data-toggle="list" role="tab">
                                <img class="avatar-md" src="dist/img/avatars/avatar-male-1.jpg"
                                     data-toggle="tooltip" data-placement="top" title="Michael" alt="avatar">
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                </div>
                                <div class="new bg-pink">
                                    <span>+10</span>
                                </div>
                                <div class="data">
                                    <h5>Michael Knudsen</h5>
                                    <span>Sun</span>
                                    <p>How can i improve my chances of getting a deposit?</p>
                                </div>
                            </a>
                            <a href="#list-chat" class="filterDiscussions all read single" id="list-chat-list2"
                               data-toggle="list" role="tab">
                                <img class="avatar-md" src="dist/img/avatars/avatar-female-2.jpg"
                                     data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar">
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                </div>
                                <div class="data">
                                    <h5>Lean Avent</h5>
                                    <span>Tus</span>
                                    <p>Hey Chris, could i ask you to help me out with variation...</p>
                                </div>
                            </a>
                            <a href="#list-empty" class="filterDiscussions all read single"
                               id="list-empty-list2" data-toggle="list" role="tab">
                                <img class="avatar-md" src="dist/img/avatars/avatar-male-2.jpg"
                                     data-toggle="tooltip" data-placement="top" title="Mariette" alt="avatar">
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                </div>
                                <div class="data">
                                    <h5>Mariette Toles</h5>
                                    <span>5 mins</span>
                                    <p>By injected humour, or randomised words which...</p>
                                </div>
                            </a>
                            <a href="#list-chat" class="filterDiscussions all read single" id="list-chat-list3"
                               data-toggle="list" role="tab">
                                <img class="avatar-md" src="dist/img/avatars/avatar-female-3.jpg"
                                     data-toggle="tooltip" data-placement="top" title="Harmony" alt="avatar">
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                </div>
                                <div class="data">
                                    <h5>Harmony Otero</h5>
                                    <span>Mon</span>
                                    <p>No more running out of the office at 4pm on Fridays!</p>
                                </div>
                            </a>
                            <a href="#list-empty" class="filterDiscussions all read single"
                               id="list-empty-list3" data-toggle="list" role="tab">
                                <img class="avatar-md" src="dist/img/avatars/avatar-female-5.jpg"
                                     data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                </div>
                                <div class="data">
                                    <h5>Keith Morris</h5>
                                    <span>Fri</span>
                                    <p>All your favourite books at your reach! We are now mobile.</p>
                                </div>
                            </a>
                            <a href="#list-request" class="filterDiscussions all unread single"
                               id="list-request-list" data-toggle="list" role="tab">
                                <img class="avatar-md" src="dist/img/avatars/avatar-female-6.jpg"
                                     data-toggle="tooltip" data-placement="top" title="Louis" alt="avatar">
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                </div>
                                <div class="new bg-gray">
                                    <span>?</span>
                                </div>
                                <div class="data">
                                    <h5>Louis Martinez</h5>
                                    <span>Feb 10</span>
                                    <p>Hi Keith, I'd like to add you as a contact.</p>
                                </div>
                            </a>
                            <a href="#list-empty" class="filterDiscussions all read single"
                               id="list-empty-list4" data-toggle="list" role="tab">
                                <img class="avatar-md" src="dist/img/avatars/avatar-male-3.jpg"
                                     data-toggle="tooltip" data-placement="top" title="Ryan" alt="avatar">
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                </div>
                                <div class="data">
                                    <h5>Ryan Foster</h5>
                                    <span>Feb 9</span>
                                    <p>Dear Deborah, your Thai massage is today at 5pm.</p>
                                </div>
                            </a>
                            <a href="#list-chat" class="filterDiscussions all unread single"
                               id="list-chat-list5" data-toggle="list" role="tab">
                                <img class="avatar-md" src="dist/img/avatars/avatar-male-4.jpg"
                                     data-toggle="tooltip" data-placement="top" title="Mildred" alt="avatar">
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                </div>
                                <div class="new bg-green">
                                    <span>+9</span>
                                </div>
                                <div class="data">
                                    <h5>Mildred Bennett</h5>
                                    <span>Thu</span>
                                    <p>Unfortunately your session today has been cancelled!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Discussions -->

                <!-- Start of Settings -->
                <div class="tab-pane fade" id="settings">
                    <div class="settings">
                        <div class="profile">
                            <img class="avatar-xl" src="{{ user.get_avatar }}" alt="avatar">
                            <h1><a href="#">{{ user.username }}</a></h1>
                            <span>
                            {{ user.get_full_name }}
                            {{ user.email }}
                            </span>

                            <div class="stats">
                                <div class="item">
                                    <h2>122</h2>
                                    <h3>Fellas</h3>
                                </div>
                                <div class="item">
                                    <h2>305</h2>
                                    <h3>Chats</h3>
                                </div>
                                <div class="item">
                                    <h2>1538</h2>
                                    <h3>Posts</h3>
                                </div>
                            </div>
                        </div>
                        <div class="categories" id="accordionSettings">

                            <h1>Settings</h1>

                            <!-- Start of My Account -->
                            <div class="category">
                                <a href="#" class="title collapsed" id="headingOne" data-toggle="collapse"
                                   data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="material-icons md-30 online">person_outline</i>
                                    <div class="data">
                                        <h5>My Account</h5>
                                        <p>Update your profile details</p>
                                    </div>
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </a>
                                <div class="collapse" id="collapseOne" aria-labelledby="headingOne"
                                     data-parent="#accordionSettings">

                                    <div class="content">

                                        <form id="user_update_form" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <!--Start upload avatar-->
                                            <div class="upload">
                                                <div class="data">
                                                    <img class="avatar-xl" src="{{ user.get_avatar }}"
                                                         alt="image">
                                                    <label>
                                                        <input name='avatar' type="file">
                                                        <span class="btn button">Upload avatar</span>
                                                    </label>
                                                </div>
                                                <p>For best results, use an image at least 256px by 256px in either
                                                    .jpg or .png format!</p>
                                            </div>
                                            <!--End upload avatar-->

                                            <div class="parent">
                                                <div class="field">
                                                    <label for="first_name">First name <span>*</span></label>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="first_name"
                                                           id="first_name"
                                                           placeholder="First name"
                                                           value="{{ user.first_name }}">
                                                </div>
                                                <div class="field">
                                                    <label for="last_name">Last name <span>*</span></label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="last_name"
                                                           name="last_name"
                                                           placeholder="Last name" value="{{ user.last_name }}">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label for="email">Email <span>*</span></label>
                                                <input type="email"
                                                       class="form-control"
                                                       id="email"
                                                       name="email"
                                                       placeholder="Enter your email address"
                                                       value="{{ user.email }}">
                                            </div>
                                            <div class="field">
                                                <label for="password">Password</label>
                                                <input type="password"
                                                       class="form-control"
                                                       id="password"
                                                       name="password"
                                                       placeholder="Enter a new password">
                                            </div>
                                            <div class="field">
                                                <label for="password2">Password Repeat</label>
                                                <input type="password"
                                                       class="form-control"
                                                       id="password2"
                                                       name="password2"
                                                       placeholder="Password repeat">
                                            </div>
                                            <button type="submit" class="btn button w-100">Apply</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End of My Account -->

                            <!-- Start of Privacy & Safety -->
                            <div class="category">
                                <a href="#" class="title collapsed" id="headingSeven" data-toggle="collapse"
                                   data-target="#collapseSeven" aria-expanded="true"
                                   aria-controls="collapseSeven">
                                    <i class="material-icons md-30 online">lock_outline</i>
                                    <div class="data">
                                        <h5>Privacy & Safety</h5>
                                        <p>Control your privacy settings</p>
                                    </div>
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </a>
                                <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven"
                                     data-parent="#accordionSettings">
                                    <div class="content no-layer">
                                        <div class="set">
                                            <div class="details upload">
                                                <h5 class="text-danger">Delete Account</h5>
                                                <p>Delete your account and conversations permanently.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Privacy & Safety -->

                            <!-- Start of placeholder -->
                            <div class="category"></div>
                            <!-- End of placeholder -->
                        </div>
                    </div>
                </div>
                <!-- End of Settings -->
            </div>
        </div>
    </div>
</div>
<!-- End of Sidebar -->