{% extends 'user/authorize-page.html' %}

{% block form %}
    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your
        account</h5>

    {% if form.errors %}
        <div class="alert alert-warning">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
    {% endif %}

    <form action="." method="post">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <label class="form-label" for="id_username">User Name</label>
            <input type="text" name="username" autofocus="" autocapitalize="none"
                   autocomplete="username" maxlength="150" required="" id="id_username"
                   class="form-control form-control-lg"/>

        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="id_password">Password</label>
            <input type="password" id="id_password" name="password"
                   autocomplete="current-password" required=""
                   class="form-control form-control-lg"/>

        </div>

        <div class="pt-1 mb-4">
            <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
        </div>

        <a class="small text-muted" href="{% url 'user:password_reset' %}">Forgot password?</a>
        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a
                href="{% url 'register' %}"
                style="color: #393f81;">Register
            here</a></p>
    </form>
{% endblock %}